.e-gallery, .e-gallery div, .e-gallery img, .e-gallery a {
	transition: all 300ms ease;
}
.e-gallery a {
	display: inline-block;
	text-decoration: none;
}
.e-gallery .viewer {
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;

	flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;

	flex-direction: row;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;

	-webkit-align-self: center;
	align-self: center;

	align-content: space-around;
	-webkit-align-content: space-around;

	justify-content: space-around;
	-moz-justify-content: space-around;
	-webkit-justify-content: space-around;

	top: 0;
	left: 0;
	opacity: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	background: rgba(0,0,0,0.6);
	transform: translate3d(100%,0,0);
}
.e-gallery .viewer .container {
	-webkit-box-flex: 1 1 auto;
	-moz-box-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;

	align-self: center;
	-webkit-align-self: center;

	max-width: 85vw;
	max-height: 90vh;
	background: #000;
	overflow: hidden;
	white-space: nowrap;
}
.e-gallery .viewer .container > img {
	margin: 0;
	padding: 0;
	width: 100%;
	border: none;
	box-shadow: none;
	pointer-events: none;
}
.e-gallery .icon {
	cursor: pointer;
	background: rgba(0,0,0,0.1);
}
.e-gallery .icon:hover {
    background: rgba(0, 0, 0, 0.3);
}
.e-gallery .close {
	top: 1%;
	right: 1%;
    width: 55px;
    height: 55px;
	position: absolute;
}
.e-gallery .close:after {
    content: '';
	top: 7.5px;
	left: 25.5px;
	height: 40px;
    position: absolute;
    transform: rotate(45deg);
    border-left: 5px solid currentColor;
}
.e-gallery .close:before {
    content: '';
	top: 7.5px;
	left: 25.5px;
	height: 40px;
    position: absolute;
    transform: rotate(-45deg);
    border-left: 5px solid currentColor;
}
.e-gallery .arrow-left, .e-gallery .arrow-right {
	width: 0;
	margin: auto;
	cursor: pointer;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}
.e-gallery .arrow-left {
	border-right: 15px solid currentColor;
}
.e-gallery .arrow-right {
	border-left: 15px solid currentColor;
}
.e-gallery .arrow-left-wrap, .e-gallery .arrow-right-wrap {
	padding: 15px 20px;
}
.e-gallery .arrow-left-wrap {
	align-self: center;
}
.e-gallery .arrow-right-wrap {
	align-self: center;
}
.e-gallery.active .viewer {
	opacity: 1;
	z-index: 1000;
	transform: translate3d(0,0,0);
}
