/*
	e-x
	close
*/
.e-x {
	min-width: 1em;
	min-height: 1em;
	cursor: pointer;
	position: relative;
	display: inline-block;
}
.e-x:before, .e-x:after {
	top: 0%;
	left: calc(50% - 0.125em);
	width: 0.25em;
	height: 100%;
	content: '';
	position: absolute;
	background: currentColor;
	transition: transform 300ms ease;
}
.e-x:before {
	transform: rotate(-45deg);
}
.e-x:after {
	transform: rotate(45deg);
}
.e-x:hover:before {
	transform: rotate(45deg);
}
.e-x:hover:after {
	transform: rotate(-45deg);
}
/*
	e-pm
	plus minus
*/
.e-pm {
	min-width: 1em;
	min-height: 1em;
	cursor: pointer;
	position: relative;
	display: inline-block;
}
.e-pm:before, .e-pm:after {
	top: 0%;
	left: calc(50% - 0.125em);
	width: 0.25em;
	height: 100%;
	content: '';
	position: absolute;
	background: currentColor;
	transition: transform 300ms ease;
}
.e-pm:before {
	transform: rotate(0deg);
}
.e-pm:after {
	transform: rotate(90deg);
}
.e-pm:hover:before {
	transform: rotate(90deg);
}
.e-pm:hover:after {
	transform: rotate(270deg);
}
