.modal *  {
	font-size: 1em;
	font-family: sans-serif;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.modal {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0);

	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display: flex;

	-webkit-transition: background 600ms ease;
	transition: background 600ms ease;
}
.modal .box {
	padding: 16px;
	margin: auto;
	background: #FFF;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.1);

	-webkit-box-flex: 0 1 300px;
	-webkit-flex: 0 1 300px;
	-moz-flex: 0 1 300px;
	-ms-flex: 0 1 300px;
	flex: 0 1 300px;

	-ms-grid-row-align: center;
	-webkit-flex-item-align: center;
	-moz-flex-item-align: center;
	-ms-flex-item-align: center;
	flex-item-align: center;

	align-self: center;
	-moz-align-self: center;
	-webkit-align-self: center;

	-webkit-transform: translate3d(0, -500%, 0);
    transform: translate3d(0, -500%, 0);
}
.modal .title {
	margin: auto;
	padding: 4px;
	max-width: 95%;
	font-size: 2em;
	border-bottom: solid 1px rgba(0,0,0,0.2);
}
.modal .description {
	padding: 4px;
	margin: auto;
	max-width: 95%;
}
.modal .content {
	padding: 8px;
	display: block;
}
.modal.active {
	z-index: 1000;
	background: rgba(0,0,0,0.6);
}
.modal.active .box {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.e-x {
	float: right;
	width: 1.5em;
	height: 1.5em;
}
.e-x {
	min-width: 1em;
	min-height: 1em;
	cursor: pointer;
	position: relative;
	display: inline-block;
}
.e-x:before, .e-x:after {
	top: 0%;
	left: calc(50% - 0.125em);
	width: 0.25em;
	height: 100%;
	content: '';
	position: absolute;
	background: currentColor;
	transition: -webkit-transform 300ms ease;
	transition: transform 300ms ease;
}
.e-x:before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.e-x:after {
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.e-x:hover:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.e-x:hover:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
