.collapsible * {
	transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
.collapsible {
	border-radius: 3px;
	border: solid 1px rgba(0,0,0,0.1);
}
.collapsible-click {
	padding: 8px;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	background: rgba(0,0,0,0.1);
}
.collapsible-click:hover {
	background: rgba(0,0,0,0.2);
}
.collapsible-content {
	height: 50px;
	padding: 8px;
	overflow: hidden;
}
.collapsible-content p {
	display: none;
}
.collapsible-content p:nth-child(1) {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.collapsible.active .collapsible-content {
	height: auto;
}
.collapsible.active .collapsible-content > p {
	display: block;
	white-space: normal;
	text-overflow: normal;
}
